<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!editClient">New Client</ion-title>
    <ion-title *ngIf="editClient">Update Client</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label> 
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorCtr.firstName.errors?.required">
      First name is required.
    </ion-text>
    <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorCtr.firstName.errors?.pattern">
      Enter a valid first name.
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName" type="email"></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.lastName.errors?.required">
      Last name is required.
    </ion-text>
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.lastName.errors?.pattern">
      Enter a valid last name.
    </ion-text>

    <!-- <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-datetime (ionChange)="fetchDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
    </ion-item> -->
    <div formGroupName="contact">

      <ion-item lines="full">
        <ion-label position="floating">Phone number</ion-label>
        <ion-input formControlName="phoneNumber" type="text"></ion-input>
      </ion-item>
      <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorContactCtr.phoneNumber.errors?.required">
        Phone number is required.
      </ion-text>
      <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorContactCtr.phoneNumber.errors?.pattern">
        Enter a valid phone number.
      </ion-text>
  
  
      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <!-- <ion-input type="text" name="title" [(ngModel)]="contact.country"></ion-input> -->
  
        
        <ion-select interface="popover" class="custom-options">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
        </ion-select>
  
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <!-- <ion-input type="text" name="title" [(ngModel)]="contact.city"></ion-input> -->
        <ion-select interface="popover" class="custom-options">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
        </ion-select>
      </ion-item>
  
  
      <ion-item lines="full">
        <ion-label position="floating">Adress</ion-label>
        <ion-input formControlName="adress" type="text"></ion-input>
      </ion-item>
      <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorContactCtr.adress.errors?.required">
        Adress number is required.
      </ion-text>
      <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorContactCtr.adress.errors?.pattern">
        Enter a valid adress.
      </ion-text>
  
  
      <ion-item lines="full">
        <ion-label position="floating">Zip</ion-label>
        <ion-input formControlName="zip" type="text"></ion-input>
      </ion-item>
      <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorContactCtr.zip.errors?.required">
       Zip is required.
      </ion-text>
      <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorContactCtr.zip.errors?.pattern">
        Enter a valid zip.
      </ion-text>
    </div>

  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" >Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>