<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label> 
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorCtr.firstName.errors?.required">
      First name is required.
    </ion-text>
    <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorCtr.firstName.errors?.pattern">
      Enter a valid first name.
    </ion-text>

    <ion-item lines="full">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName" type="email"></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.lastName.errors?.required">
      Last name is required.
    </ion-text>
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.lastName.errors?.pattern">
      Enter a valid last name.
    </ion-text>

    <!-- <ion-item lines="full">
      <ion-label position="floating">DOB</ion-label>
      <ion-datetime (ionChange)="fetchDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
    </ion-item> -->
    <div formGroupName="contact">

    <ion-item lines="full">
      <ion-label position="floating">Phone number</ion-label>
      <ion-input maxlength="10" formControlName="phoneNumber" type="text" required></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger" 
    *ngIf="clientForm.get('contact').get('phoneNumber').hasError('required') && clientForm.get('contact').get('phoneNumber').touched">
      Phone number is required.
    </ion-text> 
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.phoneNumber.errors?.pattern">
      Enter a valid phone number.
    </ion-text>


    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <!-- <ion-input type="text" name="title" [(ngModel)]="contact.country"></ion-input> -->

      
      <ion-select interface="popover" class="custom-options">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item>
      <ion-label position="floating">City</ion-label>
      <!-- <ion-input type="text" name="title" [(ngModel)]="contact.city"></ion-input> -->
      <ion-select interface="popover" class="custom-options">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Adress</ion-label>
      <ion-input maxlength="10" formControlName="adress" type="text" required></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.adress.errors?.required">
      Adress number is required.
    </ion-text>
    <ion-text class="error ion-padding" color="danger" *ngIf="submitted && errorCtr.adress.errors?.pattern">
      Enter a valid adress.
    </ion-text>


    <ion-item lines="full">
      <ion-label position="floating">Zip</ion-label>
      <ion-input formControlName="zip" type="text"></ion-input>
    </ion-item>
    <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorCtr.zip.errors?.required">
     Zip is required.
    </ion-text>
    <ion-text class="error ion-padding" color="danger"  *ngIf="submitted && errorCtr.zip.errors?.pattern">
      Enter a valid zip.
    </ion-text>
  </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>