<ion-header>
  <ion-toolbar>
    <ion-title>clients-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Search"></ion-searchbar>



  <ion-list>

    <ion-item  class="plan" text-wrap detail-push *ngFor="let client of clients">
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col  size="9" class="ion-align-self-start">
            <ion-text>Name : {{ client.firstName }}  {{ client.lastName }} </ion-text> <br>
            <ion-text>Phone : {{ client.contact.phoneNumber }} </ion-text><br>
            <ion-text>City : {{ client.contact.city }}, {{ client.contact.country }} </ion-text> <br>
          </ion-col>
  
          <ion-col size="3" class="ion-align-self-start">
            <div>
              <ion-button color="danger" size="small"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </div>
            <div>
              <ion-button color="success" size="small"><ion-icon name="create-outline"></ion-icon>  </ion-button>
            </div>
            <div>
              <ion-button color="primary" size="small"><ion-icon name="eye-outline"></ion-icon>  </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- <ion-item *ngFor="let client of clients">
      <ion-label>
        <h4>{{ client.firstName }}  {{ client.lastName }}</h4>
        <h4>{{ client.contact.phoneNumber }} </h4>
        <p>{{ client.contact.city }}, {{ client.contact.country }} </p>
      </ion-label>
    </ion-item> -->


    
  </ion-list>


  
</ion-content>