<ion-header>
  <ion-toolbar>
    <ion-title>clients-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Search"></ion-searchbar>



  <ion-list>

    <ion-item  class="plan" text-wrap detail-push *ngFor="let client of clients">
      <ion-grid>
        <ion-row class="ion-align-items-start">
          <ion-col  size="9" class="ion-align-self-start">
            <div *ngIf="(client?.firstName || client?.lastName) != null" ><ion-icon name="person-circle-outline"></ion-icon> <ion-text>  {{ client?.firstName }}  {{ client?.lastName }} </ion-text> </div> <br> 
            <div *ngIf="(client?.contact?.phoneNumber) != null"><ion-icon name="phone-portrait-outline"></ion-icon> <ion-text>  {{ client?.contact?.phoneNumber }} </ion-text></div> <br> 
            <div *ngIf="(client?.contact?.country || client?.contact?.city) != null"><ion-icon name="location-outline"></ion-icon> <ion-text> {{ client?.contact?.city }}, {{ client?.contact?.country }} </ion-text> </div> <br> 
          </ion-col>
          <ion-col size="3" class="ion-align-self-start">

            <div>
              <ion-button class="ion-item" color="danger" size="small" (click)="removeClient(client.clientId)"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </div>
            <div>
              <ion-button class="ion-item" color="success" size="small" [routerLink]="['/edit-client', client.clientId]"><ion-icon name="create-outline"></ion-icon>  </ion-button>
            </div>
            <div>
              <ion-button class="ion-item" color="primary" size="small"><ion-icon name="eye-outline"></ion-icon>  </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- <ion-item *ngFor="let client of clients">
      <ion-label>
        <h4>{{ client.firstName }}  {{ client.lastName }}</h4>
        <h4>{{ client.contact.phoneNumber }} </h4>
        <p>{{ client.contact.city }}, {{ client.contact.country }} </p>
      </ion-label>
    </ion-item> -->


    
  </ion-list>


  
</ion-content>